.pageSettings .ad,
.pageAccount .ad {
  margin: 0 auto;
}

.ad {
  background: var(--sub-alt-color);
  display: grid;
  justify-content: center;
  grid-template-areas: "col";
  transition: opacity 0.125s;

  & > div {
    grid-area: col;
  }

  &.focus {
    opacity: 0;
  }

  .icon {
    font-size: 3rem;
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--sub-color);
    &.small {
      font-size: 1.5rem;
    }
  }

  &.ad-v {
    width: 160px;
    height: 600px;
  }

  &.ad-h {
    width: 728px;
    height: 90px;
  }

  &.ad-h-s {
    width: 320px;
    height: 50px;
    display: none;
  }

  &.testPage {
    display: none !important;
  }
}
